<section class="typeahead-dependency">
    <div class="search-pf-input-group typeahead-input">
        <input [(ngModel)]="userSearch" (keyup)="handleSearch()" type="search" class="form-control float-left" placeholder="Type and select dependencies">
        <button class="btn btn-default float-left" type="button"><span class="fa fa-search"></span></button>
    </div>
    <div *ngIf="suggestions && suggestions.length > 0 || isLoading" class="suggestions">
        <span (click)="suggestions = []; isLoading = false" class="close-container">
            <span class="pficon-close"></span>
        </span>
        <div *ngIf="isLoading" class="spinner"></div>
        <div #sug (click)="handleSuggestionClick(suggestion, sug)" *ngFor="let suggestion of suggestions">
            <span class="package">{{suggestion.name}}</span>
            <span class="version">{{suggestion.version}}</span>
        </div>
    </div>
</section>
