$patternfly-blue: #39a5dc;
$white: #fff;

.typeahead-dependency {
    .form-control {
        width: 90%;
    }
    .typeahead-input {
        &:after {
            content: '';
            float: none;
            clear: both;
            display: block;
        }
    }
    .suggestions {
        background: #fff;
        width: 500px;
        position: relative;

        .close-container {
            right: -21px;
            position: absolute;
            display: inline-block;
            padding: 5px 6px;
            background: #fff;
            cursor: pointer;

            &:hover {
                background: #000;
                color: $white;
            }
        }

        & > div {
            padding: 10px;
            position: relative;
            &:hover, &.clicked-suggestion {
                background: $patternfly-blue;
                color: $white;
                cursor: pointer;
            }
            .package {
                float: left;
                font-weight: bold;
            }
            .version {
                float: right;
                right: 10px;
                position: relative;
            }
            &:after {
                content: '';
                display: block;
                float: none;
                clear: both;
            }
        }
    }
}
.float-left {
    float: left;
}
